NODE_ENV=dev # prod = Supabase, dev = Docker PostgreSQL local
PORT=3000

# Banco de Dados (PostgreSQL + PostGIS)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=carboneye
DATABASE_PASSWORD=carboneye_pass
DATABASE_NAME=carboneye_db

# JWT Segurança
JWT_SECRET=super_secret_carboneye_jwt_key_123!
JWT_EXPIRES_IN=7d

# Chaves de APIs Externas
AGROMONITORING_API_KEY=your_key
NASA_FIRMS_MAP_KEY=your_key
OPENWEATHER_API_KEY=your_key
